.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in.visible {
    opacity: 1;
}

@keyframes rodar {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(-20deg);
    }
}

@keyframes rodar-2 {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(-20deg);
    }
}