:root{
    /* CORES*/
      --primary-color:#003519;
      --complementar-color: #34751D;
      --secondary-color: #1D6975;
      --danger-color: #C53015;
  
      --subtitle-color:#717774;
      --label-color:#656363;
      
    /* TAMANHO FONTES */
  
  }