*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --primary-color:#003519;
    --complementar-color: #34751D;
    --secondary-color: #1D6975;
    --danger-color: #C53015;
}

.header{
    z-index: 4;
    height: 80px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;    
    position: fixed;
    top: 0;
}

.nav-div{
  height: 100%;
  display: flex;
  justify-content: center;
  width: 60%;
}

.nav-list{
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list .nav-item {
  position: relative;
}

.nav-list .nav-item a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.nav-list .nav-item::after {
  background-color: var(--complementar-color);
  width: 0;
  content: "";
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

.nav-list .nav-item:hover::after {
  width: 100%;
}




.nav-list .nav-item a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.nav-list .active a{
  color: var(--complementar-color);
}

.div-logo{
  
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.navbar{
  width: 90%;
  height: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home{
    margin-top: 80px;
    width: 100%;
    background-color: var(--primary-color);
    height: 70vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container{
  width: 90%;

  
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  width: 50%;
  height: 100%;
  
}

.controle-arte{
  display: flex;
  
  justify-content: flex-end;
}

#home-escrita{
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  margin: 0;
  padding: 0;

}

#home-escrita h1{
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.home-buttons-group{
  
  display: flex;
  gap: 10px;
}

.home-buttons-group button{
  cursor: pointer;
  
  width: 48%;
  height: 60px;
  border-radius: 11px;
  border: none;
  font-size: 22px;
  font-weight: 600;
}

.btn-secondary{
  background-color: var(--secondary-color);
  color: #fff;
  filter: drop-shadow(2px 1.5px 2px #ffffff);
  transition: 1s all;
}

.btn-secondary:hover{
  filter: drop-shadow(2px 1.5px 2px var(--complementar-color));
  color: var(--secondary-color);
  background-color: #fff;
}

.btn-white{
  filter: drop-shadow(2px 1.5px 2px var(--complementar-color));
  color: var(--secondary-color);
  transition: 1s all;
}

.btn-white:hover{
  background-color: var(--secondary-color);
  color: #fff;
  filter: drop-shadow(2px 1.5px 2px #ffffff);
}

.box-arte{
  
  width: 90%;
  margin-top:5% ;
  height: 90%;
  position: relative;
}
box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.quinas{
  width: 80px;
  height: 80px;
  
}

.raios{
  position: absolute;
    left: 50%;
    margin-left: -40%;
    top: 50%;
    margin-top: -175px;
    width: 80%;
    height: 350px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border: 10px dotted #FFF;
    border-left: none;
    border-right: none;
    border-bottom: none;
    animation: rodar 10s  infinite alternate;
    animation-timing-function: linear;
}

.raio-2{
  position: absolute;
    left: 50%;
    margin-left: -35%;
    top: 60%;
    margin-top: -160px;
    width: 70%;
    height: 320px;
    border-top-left-radius: 120%;
    border-top-right-radius: 120%;
    border: 10px solid ;
    filter: drop-shadow(2px 1.5px 2px #ffffff);
    border-left: none;
    border-right: none;
    border-bottom: none;
    animation: rodar 10s  infinite alternate;
    animation-timing-function: linear;
    
}

.raio-3{
  position: absolute;
    left: 50%;
    margin-left: -30%;
    top: 70%;
    margin-top: -145px;
    width: 60%;
    height: 290px;
    border-top-left-radius: 120%;
    border-top-right-radius: 120%;
    border: 10px solid ;
    filter: drop-shadow(2px 1.5px 2px #ffffff);
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.arte-sensor{
  background-image: url('../img/sensor/ultra.png');
  background-size: contain;
  position: absolute;
  filter: drop-shadow(3px 7px 1px rgb(255, 255, 255,0.2));
  width: 400px;
  height: 400px;
  top: 58%;
  transform: rotate(-10deg);
  margin-top: -200px;
  left: 50%;
  margin-left: -200px;
}

.esquerda-top{
  position: absolute;
  top:0;
  left: 0;
  border-left: 8px solid white;
  border-top: 8px solid white;
  border-top-left-radius: 15px;
}
.direita-top{
  position: absolute;
  top:0;
  right: 0;
  border-right: 8px solid white;
  border-top: 8px solid white;
  border-top-right-radius: 15px;
}
.direita-bottom{
  position: absolute;
  bottom:0;
  right: 0;
  border-right: 8px solid white;
  border-bottom: 8px solid white;
  border-bottom-right-radius: 15px;
}

.esquerda-bottom{
  position: absolute;
  bottom:0;
  left: 0;
  border-left: 8px solid white;
  border-bottom: 8px solid white;
  border-bottom-left-radius: 15px;
}


#home-escrita h3{
  font-size: 2.8rem;
  text-transform: capitalize;
  
}

#home-escrita p{
  padding: 0;
  font-size: 1.2rem;
  margin: 0;
  font-style: italic !important;
  
}

#home-escrita p span{
  font-weight: 700;
}

footer{
  margin-top: 5%;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex; 
  justify-content: center;
  align-items: center;
}

.quadrado-pai{
    display: flex;
    flex-direction: row;
}

.quadrado-pai-column{
  display: flex;
  flex-direction: column;
}

.quadrado-grande{
    width: 50%;
    height: 60%;
    
    
}

.quadrado-com-areas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quadrado-70{
    height: 70%;
    width: 90%;
    border: 1px solid red;
}

.quadrado-20{
    height: 20%;
    width: 90%;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* SIMULADOR */
.simulador{
  width: 90%;
  height: 50vh;
}

.footer-container {
    height: 300px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 90%;
    color: white;
    font-size: 20px;
    font-weight: 650;
  }

  .controle-home{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer-container a {
    text-decoration: none;
    color: white;
  }
  
  .column {
    list-style-type: none;
    padding: 20px; 
    margin-top: 50px;
  }
  
  .column li {
    margin-left: 7px;
    margin-bottom: 10px;
  }

  .column i {
    margin-right: -5px;
    padding: 10px;
    font-size: 60px;
  }
  
  .icon-sv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left:10% ;
    
  }
  .icon {
    margin-right: -100px;
    margin-top: -25px;
    margin-left: -25px;
  }

  .tituloC1 {
    color: #003519;
    font-size: 86px;
    display: flex;
    font-weight: 300;
    flex-direction: column;
    align-items: center;
}

.sectionCaio {
    height: 225vh;
    width: 85%;
    
    width: 85%;
}

.textoCCaio1 {
    color: #717774;
    font-size: 20px;
    display: flex;
    font-weight: 300px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cardsCaio {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    margin-top: 10%;
    margin-bottom: 80px;
    
}

.cardCaio {
    width: 299px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 3px solid rgba(0, 53, 25, 0.16);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 200px;
    z-index: 2;
    position: relative;
}

.circuloCaio{
    background-color: #E9EBF3;
    width: 164px;
    height: 164px;
    border-radius: 164px;
    border: none;
    display: flex;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -23%;
}

.sensoresC {
    margin-left: 163px;
    margin-bottom: 400px;
}

.suporteC {
    margin-left: 560px;
    margin-bottom: 400px;
}

.dashboardC {
    margin-left: 953px;
    margin-bottom: 400px;
}

.fotosCaio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textoACaio {
    color: #1D6975;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}

.tituloC2{
    color: #1D6975;
    font-size: 90px;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    align-items: flex-start;
    
}

.textoCCaio2 {
    color: #717774;
    font-size: 20px;
    display: flex;
    font-weight: 300px;
    flex-direction: column;
    align-items: flex-start;
    
    margin-bottom: 20px;
    width: 400px;
}

.buttonEquipe {
    width: 304px;
    height: 82px;
    border-radius: 20px;
    background-color: #1D6975;
    border: none;
    
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
}

.textoQuemSomos {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.segundaParteCaio {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    
}

.cardsjustificativa {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.cardjustificativaum {
    width: 300px;
    height: 276px;
    border-radius: 20px;
    border: 3px solid rgba(0, 53, 25, 0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: white;
    z-index: 2;
}

.tituloJustificativa {
    color: #044125;
    font-size: 90px;
    font-weight: 600;
    margin-top: 30px;
}

.textoJustificativa {
    text-align: center;
    font-size: 32px;
}

.cardjustificativadois {
    width: 300px;
    height: 276px;
    border-radius: 20px;
    border: 3px solid rgba(0, 53, 25, 0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 240px;
    margin-top: 220px;
    position: absolute;
    z-index: 1;
}


  
